<div class="card" style="max-width: 100%; height: auto">
  <div class="card-header">Data Binding</div>
  <img
    class="card-img-top"
    src="https://www.labvic.org.au/client_images/2368214.JPG"
    alt="Card image"
    style="width: 100%"
  />
  <div class="card-body">
    <h4 class="card-title">{{getName()}}</h4>
    <p class="card-text">
        <li>StudentID: {{id}}</li>
        <li>Age: {{getDate()-year}}</li>
    </p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
